/*
 * This file is part of AUX.
 *
 * AUX is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or (at your option) any later version.
 *
 * AUX is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU General
 * Public License along with this program; if not, write to the
 * Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
 * Boston, MA  02110-1301  USA
 */

/* This CSS looks quite strange because it is supposed to overwrite
 * the settings in jsdoc-default.css */

/*
  --aux-active-base: #2577a1;
  --aux-warn-base: #ee6b11
*/

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
body,
a,
button,
select,
option {
  font-family: sans-serif !important;
  color: #666666;
}
tt,
code,
kbd,
samp {
  font-family: monospace !important;
}

body {
  color: #666666;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5em;
  overflow: hidden;
  text-align: left;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: #2577a1;
}
a:hover {
  color: #ee6b11;
  border-bottom-color: #ee6b11 !important;
}

h1 {
  margin: 0;
  line-height: 64px;
}
h3 {
  position: sticky;
  top: 0;
  padding: 0 8px !important;
}

table {
  box-shadow: none;
}

td {
  padding: 4px;
}

table table {
  font-size: 12px;
}

tt,
code,
kbd,
samp {
  background: rgba(0, 0, 0, 0.066);
}

pre {
  background: #333333;
  color: #cccccc;
  padding: 12px;
}
pre code {
  background: none;
}

nav {
  background: #f3f3f3;
  width: 260px;
  z-index: 10;
}

nav > input#nav-search {
  position: sticky !important;
  display: block;
  top: 0;
  width: 100%;
  border: none;
  margin: 0 !important;
  height: 40px;
  line-height: 40px;
  padding: 0 8px;
  background: #333333;
  color: #ffffff;
  border-radius: 0;
}

nav > h3 {
  background: #333333;
  color: white;
  top: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
}

nav a {
  font-size: 14px !important;
  margin: 0 !important;
  color: #999999 !important;
}
nav > h2 > a {
  color: #2577a1 !important;
  padding-left: 16px;
}
nav ul {
  padding-left: 16px;
}
nav > ul > li > a {
  line-height: 32px !important;
  color: #2577a1 !important;
}
nav > ul > li > a:hover {
  color: #ee6b11 !important;
}
nav > ul > li > ul > li > a {
  line-height: 24px !important;
  border-left-color: #cccccc;
}
nav > ul > li > ul > li > a:hover {
  color: #ee6b11 !important;
}

#main {
  position: fixed;
  top: 0;
  left: 260px;
  right: 0;
  bottom: 0;
  overflow: auto;
  width: auto;
}

#main::before {
  content: '';
  height: 40px;
  line-height: 40px;
  background: #333333;
  position: fixed;
  top: 0;
  left: 260px;
  right: 0;
  pointer-events: none;
}

#main > section {
  padding: 20px;
  padding-top: 60px;
}

#main h1.page-title {
  height: 40px;
  line-height: 40px;
  color: white;
  margin: 0;
  font-size: 20px;
  float: right;
  text-align: right;
  position: sticky;
  top: 0;
  margin-right: 28px;
  z-index: 100;
}

#main h2 {
  display: none;
}

#main h3 {
  background: #333333;
  color: white;
  line-height: 40px;
  height: 40px;
  font-size: 20px;
}

#main h4.name {
  margin-top: 0;
  background: #f3f3f3;
  box-shadow: none;
  border: none;
  color: #666666;
  font-size: 20px;
}
#main h4.name a,
#main h4.name .signature {
  color: #ee6b11;
}

#main .param-type {
  color: #666666;
}

#main .type-signature {
  color: #666666;
}

#main section.package {
  display: none;
}
