/backstop/
/brand/
/doc/
/examples/
/jshint/
/prettier/
/testsuite/
/tools/
*toolkit.all.js
*toolkit.min.js
*toolkit.max.js
*toolkit.min.map
backup.html
javascript/items.js
*toolkit.min.css
*toolkit.all.css
export/
examples.html
favicon.*
angular/
/cypress/
/eslint/
/benchmark/
/.editorconfig
/.prettierrc
