*package.json
*package-lock.json
*node_modules
*Makefile

*.svg
*.in
*.png
*.py

../.git

../angular

../backstop/backstop_data
../backstop/htdocs
../backstop/tests/examples

../doc/out

../jshint
../prettier

../testsuite/src
