html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
}
* {
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  outline: 0 none;
}
ol,
ul {
  list-style: none;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}

a {
  color: var(--aux-active-base);
}

p {
  margin-bottom: 1em;
}

h1 {
  font-size: 32px;
  line-height: 1.2em;
  font-weight: normal;
  color: var(--aux-warn-base);
  margin-bottom: 0.5em;
  border-bottom: 1px solid #aaa;
}

h3 {
  font-size: 24px;
  line-height: 1.2em;
  font-weight: normal;
  color: var(--aux-warn-base);
  margin-bottom: 0.5em;
  border-bottom: 1px solid #aaa;
  text-align: right;
}

code {
  color: #999;
  padding: 0 3px;
}

#logo {
  width: 128px;
  height: auto;
  float: right;
  margin: 0 0 8px 16px;
}
.aux-root {
  clear: both;
  padding: 16px 144px 16px 16px;
  height: 100%;
  margin: 0;
  margin-right: 128px;
  overflow: auto;
}
.aux-root > .aux-container {
  display: block;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 30% auto;
  align-items: center;
  grid-gap: 16px;
}
.aux-root > .aux-container > * {
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: start;
}
.aux-root > .aux-container > span {
  grid-column-start: 1;
  grid-column-end: 2;
  justify-self: end;
  text-align: right;
}

#navigation > li {
  cursor: pointer;
}
#navigation > li.active {
  background: var(--aux-active-base);
  color: var(--aux-active-text);
}
body > #navigation {
  position: fixed;
  top: 0;
  right: 0;
  background: var(--aux-contrast-base);
  color: var(--aux-contrast-text);
  width: 128px;
  height: 100%;
  overflow: auto;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

body > #navigation > li {
  padding: 0 8px;
  line-height: 24px;
}
body > #navigation > li:hover {
  background: var(--aux-active-base);
  color: var(--aux-active-text);
}
