@font-face {
  font-family: "AUX";
  font-style: normal;
  font-weight: normal;
  src: url("AUX.ttf") format("truetype");
}

.aux-icon {
  font-family: "AUX", sans-serif;
  font-size: 24px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.aux-button.aux-icon::before{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.aux-icon.aux-12  { font-size: 12px; }
.aux-icon.aux-16  { font-size: 16px; }
.aux-icon.aux-20  { font-size: 20px; }
.aux-icon.aux-24  { font-size: 24px; }
.aux-icon.aux-32  { font-size: 32px; }
.aux-icon.aux-40  { font-size: 40px; }
.aux-icon.aux-48  { font-size: 48px; }
.aux-icon.aux-56  { font-size: 56px; }
.aux-icon.aux-64  { font-size: 64px; }
.aux-icon.aux-128 { font-size: 128px; }
.aux-icon.aux-256 { font-size: 256px; }

.aux-icon.warning::before                              { font-family: 'AUX'; content: '1'; }
.aux-icon.information::before                          { font-family: 'AUX'; content: '2'; }
.aux-icon.info::before                                 { font-family: 'AUX'; content: '2'; }
.aux-icon.error::before                                { font-family: 'AUX'; content: '3'; }
.aux-icon.message::before                              { font-family: 'AUX'; content: '4'; }
.aux-icon.close::before                                { font-family: 'AUX'; content: '5'; }
.aux-icon.success::before                              { font-family: 'AUX'; content: '6'; }
.aux-icon.hourglass::before                            { font-family: 'AUX'; content: '7'; }
.aux-icon.loading::before                              { font-family: 'AUX'; content: '7'; }
.aux-icon.questionmark::before                         { font-family: 'AUX'; content: '8'; }
.aux-icon.screensize::before                           { font-family: 'AUX'; content: '9'; }
.aux-icon.windowminimize::before                       { font-family: 'AUX'; content: 'a'; }
.aux-icon.winmin::before                               { font-family: 'AUX'; content: 'a'; }
.aux-icon.windowclose::before                          { font-family: 'AUX'; content: '0'; }
.aux-icon.winclose::before                             { font-family: 'AUX'; content: '0'; }
.aux-icon.windowmaximize::before                       { font-family: 'AUX'; content: 'b'; }
.aux-icon.winmax::before                               { font-family: 'AUX'; content: 'b'; }
.aux-icon.windowmaximizevertical::before               { font-family: 'AUX'; content: 'c'; }
.aux-icon.winmaxvert::before                           { font-family: 'AUX'; content: 'c'; }
.aux-icon.windowmaximizehorizontal::before             { font-family: 'AUX'; content: 'd'; }
.aux-icon.winmaxhoriz::before                          { font-family: 'AUX'; content: 'd'; }
.aux-icon.windowshrink::before                         { font-family: 'AUX'; content: 'e'; }
.aux-icon.winshrink::before                            { font-family: 'AUX'; content: 'e'; }
.aux-icon.windowresize::before                         { font-family: 'AUX'; content: 'f'; }
.aux-icon.unchecked::before                            { font-family: 'AUX'; content: 'g'; }
.aux-icon.checked::before                              { font-family: 'AUX'; content: 'h'; }
.aux-icon.speaker::before                              { font-family: 'AUX'; content: 'i'; }
.aux-icon.speakeractive::before                        { font-family: 'AUX'; content: 'i'; }
.aux-icon.sound::before                                { font-family: 'AUX'; content: 'i'; }
.aux-icon.speakermute::before                          { font-family: 'AUX'; content: 'j'; }
.aux-icon.mute::before                                 { font-family: 'AUX'; content: 'j'; }
.aux-icon.gear::before                                 { font-family: 'AUX'; content: 'k'; }
.aux-icon.cogwheel::before                             { font-family: 'AUX'; content: 'k'; }
.aux-icon.cog::before                                  { font-family: 'AUX'; content: 'k'; }
.aux-icon.power::before                                { font-family: 'AUX'; content: 'l'; }
.aux-icon.phase::before                                { font-family: 'AUX'; content: 'm'; }
.aux-icon.phaseinvert::before                          { font-family: 'AUX'; content: 'm'; }
.aux-icon.arrowdown::before                            { font-family: 'AUX'; content: 'n'; }
.aux-icon.arrowup::before                              { font-family: 'AUX'; content: 'o'; }
.aux-icon.arrowleft::before                            { font-family: 'AUX'; content: 'p'; }
.aux-icon.arrowright::before                           { font-family: 'AUX'; content: 'q'; }
.aux-icon.hide::before                                 { font-family: 'AUX'; content: 'r'; }
.aux-icon.show::before                                 { font-family: 'AUX'; content: 's'; }
.aux-icon.highpass::before                             { font-family: 'AUX'; content: 't'; }
.aux-icon.hipass::before                               { font-family: 'AUX'; content: 't'; }
.aux-icon.lowpass::before                              { font-family: 'AUX'; content: 'u'; }
.aux-icon.lopass::before                               { font-family: 'AUX'; content: 'u'; }
.aux-icon.highshelf::before                            { font-family: 'AUX'; content: 'v'; }
.aux-icon.hishelf::before                              { font-family: 'AUX'; content: 'v'; }
.aux-icon.lowshelf::before                             { font-family: 'AUX'; content: 'w'; }
.aux-icon.loshelf::before                              { font-family: 'AUX'; content: 'w'; }
.aux-icon.bandpass::before                             { font-family: 'AUX'; content: 'x'; }
.aux-icon.bandreject::before                           { font-family: 'AUX'; content: 'y'; }
.aux-icon.notch::before                                { font-family: 'AUX'; content: 'z'; }
.aux-icon.parametric::before                           { font-family: 'AUX'; content: 'A'; }
.aux-icon.sine::before                                 { font-family: 'AUX'; content: 'B'; }
.aux-icon.pulse::before                                { font-family: 'AUX'; content: 'C'; }
.aux-icon.sawtooth::before                             { font-family: 'AUX'; content: 'D'; }
.aux-icon.triangle::before                             { font-family: 'AUX'; content: 'E'; }
.aux-icon.bypass::before                               { font-family: 'AUX'; content: 'F'; }
.aux-icon.stairs::before                               { font-family: 'AUX'; content: 'G'; }
.aux-icon.aliased::before                              { font-family: 'AUX'; content: 'G'; }
.aux-icon.stereo::before                               { font-family: 'AUX'; content: 'H'; }
.aux-icon.mono::before                                 { font-family: 'AUX'; content: 'I'; }
.aux-icon.zoom::before                                 { font-family: 'AUX'; content: 'J'; }
.aux-icon.magnifier::before                            { font-family: 'AUX'; content: 'J'; }
.aux-icon.zoomin::before                               { font-family: 'AUX'; content: 'K'; }
.aux-icon.zoomout::before                              { font-family: 'AUX'; content: 'L'; }
.aux-icon.home::before                                 { font-family: 'AUX'; content: 'M'; }
.aux-icon.start::before                                { font-family: 'AUX'; content: 'M'; }
.aux-icon.rewind::before                               { font-family: 'AUX'; content: 'N'; }
.aux-icon.rew::before                                  { font-family: 'AUX'; content: 'N'; }
.aux-icon.pause::before                                { font-family: 'AUX'; content: 'O'; }
.aux-icon.play::before                                 { font-family: 'AUX'; content: 'P'; }
.aux-icon.stop::before                                 { font-family: 'AUX'; content: 'Q'; }
.aux-icon.record::before                               { font-family: 'AUX'; content: 'R'; }
.aux-icon.rec::before                                  { font-family: 'AUX'; content: 'R'; }
.aux-icon.eject::before                                { font-family: 'AUX'; content: 'S'; }
.aux-icon.fastforward::before                          { font-family: 'AUX'; content: 'T'; }
.aux-icon.ffwd::before                                 { font-family: 'AUX'; content: 'T'; }
.aux-icon.end::before                                  { font-family: 'AUX'; content: 'U'; }
.aux-icon.repeat::before                               { font-family: 'AUX'; content: 'V'; }
.aux-icon.random::before                               { font-family: 'AUX'; content: 'W'; }
.aux-icon.day::before                                  { font-family: 'AUX'; content: 'X'; }
.aux-icon.sun::before                                  { font-family: 'AUX'; content: 'X'; }
.aux-icon.daylight::before                             { font-family: 'AUX'; content: 'X'; }
.aux-icon.light::before                                { font-family: 'AUX'; content: 'X'; }
.aux-icon.night::before                                { font-family: 'AUX'; content: 'Y'; }
.aux-icon.moon::before                                 { font-family: 'AUX'; content: 'Y'; }
.aux-icon.dark::before                                 { font-family: 'AUX'; content: 'Y'; }
.aux-icon.connected::before                            { font-family: 'AUX'; content: 'Z'; }
.aux-icon.disconnected::before                         { font-family: 'AUX'; content: 'ö'; }
.aux-icon.headphones::before                           { font-family: 'AUX'; content: 'ä'; }
.aux-icon.headphonesactive::before                     { font-family: 'AUX'; content: 'ä'; }
.aux-icon.headphonesmute::before                       { font-family: 'AUX'; content: 'ü'; }
.aux-icon.microphone::before                           { font-family: 'AUX'; content: 'Ä'; }
.aux-icon.mic::before                                  { font-family: 'AUX'; content: 'Ä'; }
.aux-icon.micro::before                                { font-family: 'AUX'; content: 'Ä'; }
.aux-icon.microphonemute::before                       { font-family: 'AUX'; content: 'Ö'; }
.aux-icon.micmute::before                              { font-family: 'AUX'; content: 'Ö'; }
.aux-icon.micromute::before                            { font-family: 'AUX'; content: 'Ö'; }
.aux-icon.trash::before                                { font-family: 'AUX'; content: 'Ü'; }
.aux-icon.delete::before                               { font-family: 'AUX'; content: 'Ü'; }
.aux-icon.save::before                                 { font-family: 'AUX'; content: '!'; }
.aux-icon.diskette::before                             { font-family: 'AUX'; content: '!'; }
.aux-icon.load::before                                 { font-family: 'AUX'; content: '"'; }
.aux-icon.folder::before                               { font-family: 'AUX'; content: '"'; }
.aux-icon.open::before                                 { font-family: 'AUX'; content: '"'; }
