body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #111;
  color: #ddd;
}

.aux-root {
  width: 100%;
  height: 100%;
  margin: 0;
}
.aux-matrix {
  display: block;
  width: 100%;
  height: 100%;
}
