/*
 * This file is part of Toolkit.
 *
 * Toolkit is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or (at your option) any later version.
 *
 * Toolkit is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU General
 * Public License along with this program; if not, write to the
 * Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
 * Boston, MA  02110-1301  USA
 */
.aux-chart > svg {
    background-clip: padding-box;
}

.aux-chart {
}

.aux-chart > svg > .aux-background {
    
}
.aux-chart > svg > .aux-background.aux-hover {
    
}
.aux-chart > svg > .aux-key {
    margin: 0px;
    padding: 4px 8px;
    opacity: 0.8;
}
.aux-chart > svg > .aux-key.aux-hover {
    opacity: 1;
}
.aux-chart > svg > .aux-key > text > .aux-label {
    line-height: 1.2em; /* sets the distance between key entries */
    margin: 5px; /* sets the distance between labels and example rects */
}
.aux-chart > svg > .aux-key > .aux-rect {
    
}

.aux-chart > svg > .aux-title {
    margin: 8px 26px;
    font-weight: bold;
    font-size: 2em;
}
