/*
 * This file is part of Toolkit.
 *
 * Toolkit is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or (at your option) any later version.
 *
 * Toolkit is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU General
 * Public License along with this program; if not, write to the
 * Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
 * Boston, MA  02110-1301  USA
 */
 
 .aux-colorpicker {
    
}

.aux-colorpicker > .aux-canvas {
}
.aux-colorpicker > .aux-canvas > .aux-grayscale {
}
.aux-colorpicker > .aux-canvas > .aux-indicator {
    border: 0.5px solid;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
}


.aux-colorpicker > .aux-hex {
    border: 0px solid black;
}

.aux-colorpicker > .aux-hue {
}
.aux-colorpicker  >.aux-saturation {
}
.aux-colorpicker > .aux-lightness {
}

.aux-colorpicker > .aux-red {
}
.aux-colorpicker > .aux-green {
}
.aux-colorpicker > .aux-blue {
}
