/*
 * This file is part of Toolkit.
 *
 * Toolkit is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or (at your option) any later version.
 *
 * Toolkit is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU General
 * Public License along with this program; if not, write to the
 * Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
 * Boston, MA  02110-1301  USA
 */
 
.aux-notification {
  margin: 4px;
  padding: 4px 8px;
  min-height: 32px;
  
  font-size: 1rem;
  text-align: left;
  
  box-shadow:         0px 2px 9px 0px rgba(0, 0, 0, 0.25);
  border-radius:         6px;
  
  display: block;
}

.aux-notification > .aux-button {
  background: transparent !important;
  border: none !important;
  position: absolute;
  top: 4px;
  right: 4px;
  width: 20px !important;
  height: 20px !important;
  margin: 0;
  padding: 0;
  box-shadow: none !important;
}
.aux-notification > .aux-button.aux-close .aux-icon {
  font-size: 20px !important;
  line-height: 20px !important;
  width: 20px !important;
  height: 20px !important;
}

.aux-notification > .aux-icon {
  position: absolute;
  font-size: 32px;
  line-height: 32px;
  top: 8px;
  left: 8px;
}

.aux-notification.aux-has-icon {
  padding-left: 56px;
}

.aux-notification.aux-has-close {
  padding-right: 48px;
}


.aux-notification {
  opacity: 0;
  animation: fade-in 0.5s;
  transform: scale(1);
}

.aux-notification.aux-show {
  opacity: 1;
}
.aux-notification.aux-hiding {
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
  transform: scale(0);
}

@keyframes fade-in {
  0% { opacity: 0; transform: scale(1); }
  100% { opacity: 1; transform: scale(1);}
}
