/*
 * This file is part of Toolkit.
 *
 * Toolkit is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or (at your option) any later version.
 *
 * Toolkit is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU General
 * Public License along with this program; if not, write to the
 * Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
 * Boston, MA  02110-1301  USA
 */
.aux-responsehandle {
    
}
.aux-responsehandle.aux-disabled {
    display: none;
}
.aux-responsehandle:hover {
    
}
.aux-responsehandle.aux-inactive {
    
}
.aux-responsehandle.aux-active {
    cursor: move !important;
}
.aux-responsehandle.aux-warn {
    
}
.aux-responsehandle.aux-circular {
    
}
.aux-responsehandle.aux-circular:hover {
    
}
.aux-responsehandle.aux-circular.aux-active {
    
}
.aux-responsehandle.aux-line {
    
}
.aux-responsehandle.aux-block {
    
}
.aux-responsehandle.aux-blockleft {
    
}
.aux-responsehandle.aux-blockright {
    
}
.aux-responsehandle.aux-blocktop {
    
}
.aux-responsehandle.aux-blockbottom {
    
}

.aux-responsehandle > .aux-zhandle {
    opacity: 0.5;
    cursor: pointer;
    stroke-width: 4;
}
.aux-responsehandle > .aux-zhandle:hover {
    opacity: 0.75;
}
.aux-responsehandle.aux-active > .aux-zhandle {
    opacity: 0.75;
    cursor: move;
}

.aux-responsehandle > .aux-label {
    cursor: pointer;
    font-size: 0.8em;
}
.aux-responsehandle:hover > .aux-label {
    
}
.aux-responsehandle.aux-active > .aux-label {
    cursor:move;
}
.aux-responsehandle > .aux-label > tspan {
    
}

.aux-responsehandle.aux-circular > .aux-label {
    opacity: 0.5;
}
.aux-responsehandle.aux-circular:hover > .aux-label {
    opacity: 0.66;
}
.aux-responsehandle.aux-circular.aux-active > .aux-label {
    opacity: 0.8;
}
.aux-responsehandle.aux-line > .aux-label {
    opacity: 0.5;
}
.aux-responsehandle.aux-line:hover > .aux-label {
    opacity: 0.66;
}
.aux-responsehandle.aux-line.aux-active > .aux-label {
    opacity: 0.8;
}
.aux-responsehandle.aux-block > .aux-label {
    opacity: 0.5;
}
.aux-responsehandle.aux-block:hover > .aux-label {
    opacity: 0.66;
}
.aux-responsehandle.aux-block.aux-active > .aux-label {
    opacity: 0.8;
}



.aux-responsehandle > .aux-handle {
    cursor:pointer;
}
.aux-responsehandle.aux-active > .aux-handle {
    cursor:move;
}
.aux-responsehandle.aux-warn > .aux-handle {
    stroke-width: 20;
}
.aux-responsehandle.aux-circular > .aux-handle {
    opacity: 0.33;
}
.aux-responsehandle.aux-circular:hover > .aux-handle {
    opacity: 0.5;
}
.aux-responsehandle.aux-circular.aux-active > .aux-handle {
    opacity: 0.66;
}
.aux-responsehandle.aux-line > .aux-handle {
    opacity: 0.33;
}
.aux-responsehandle.aux-line:hover > .aux-handle {
    opacity: 0.5;
}
.aux-responsehandle.aux-line.aux-active > .aux-handle {
    opacity: 0.66;
}
.aux-responsehandle.aux-block > .aux-handle {
    opacity: 0.2;
}
.aux-responsehandle.aux-block:hover > .aux-handle {
    opacity: 0.33;
}
.aux-responsehandle.aux-block.aux-active > .aux-handle {
    opacity: 0.5;
}



.aux-responsehandle > .aux-line {
    stroke-width: 1;
}
.aux-responsehandle:hover > .aux-line {
    
}
.aux-responsehandle.aux-active > .aux-line {
    
}
.aux-responsehandle.aux-circular > .aux-line {
/*     stroke-dasharray: 1,1; */
    opacity: 0.5;
}
.aux-responsehandle.aux-circular.aux-active > .aux-line {
    
}

.aux-responsehandle.aux-line > .aux-line1 {
    stroke-dasharray: 1,1;
    opacity: 0.6;
}
.aux-responsehandle.aux-line:hover > .aux-line1 {
    stroke-dasharray: 0;
}
.aux-responsehandle.aux-line.aux-active > .aux-line1 {
    stroke-dasharray: 0;
}
.aux-responsehandle.aux-line > .aux-line2 {
    opacity: 0.5;
}
.aux-responsehandle.aux-line.aux-active > .aux-line2 {
    
}

.aux-responsehandle.aux-block > .aux-line1 {
    stroke-dasharray: 1,1;
    opacity: 0.6;
}
.aux-responsehandle.aux-block:hover > .aux-line1 {
    stroke-dasharray: 0;
}
.aux-responsehandle.aux-block.aux-active > .aux-line1 {
    stroke-dasharray: 0;
    opacity: 0.9;
}
.aux-responsehandle.aux-block > .aux-line2 {
    opacity: 0.5;
}
.aux-responsehandle.aux-block.aux-active > .aux-line2 {
    
}
