/*
 * This file is part of Toolkit.
 *
 * Toolkit is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or (at your option) any later version.
 *
 * Toolkit is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU General
 * Public License along with this program; if not, write to the
 * Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
 * Boston, MA  02110-1301  USA
 */
 
@import "aux.css"; /* technical dependency, functional requirements */
@import "base/index.css"; /* very basic theme using css variables */

.aux-root {
    background: #e3e3e3 !important;
    color: #666 !important;
    fill: #666 !important;
}

.aux-button {
    background-color: white;
    border-color: white;
}
.aux-button:hover,
.aux-button:active {
    border-color: #00ccff;
}
.aux-button.aux-active {
    color: white;
    background: #00ccff;
    border-color: #00ccff;
}
.aux-button.aux-active:hover,
.aux-button.aux-active:active {
    border-color: white;
}

.aux-buttons > .aux-button.aux-warn {
    background-color: #F80;
    border-color: #F80;
}

.aux-chart > svg {
    background-color: #222;
}
.aux-chart > svg > .aux-grid {
    opacity: 0.5;
}
.aux-chart > svg > .aux-grid > .aux-gridline.aux-highlight {
    stroke: #00ccff;
}
.aux-chart > svg > .aux-grid > .aux-gridlabel.aux-highlight {
    fill: rgb(255,255,255);
}
.aux-chart > svg > .aux-background {
    fill: transparent;
}
.aux-chart > svg > .aux-background.aux-hover {
    fill: white;
}
.aux-chart > svg > .aux-key {
    fill: #666;
}
.aux-chart > svg > .aux-title {
    fill: #00ccff;
}

.aux-circular > .aux-base {
    fill: white;
}
.aux-circular.aux-warn > .aux-base {
    fill: rgba(255, 255, 255, 0.5);
}
.aux-circular > .aux-value {
    fill: #00ccff;
}
.aux-circular.aux-warn > .aux-value {
    fill: #666;
}
.aux-circular > .aux-hand {
    fill: #00ccff;
}

.aux-dialog {
    background: #e3e3e3;
    box-shadow:         0px 4px 12px 0px rgba(0, 0, 0, 0.5);
}

.aux-dynamics > svg > .aux-graphs > .aux-steady {
    stroke: #666;
}

.aux-fader::before {
    background-color: white;
}
.aux-fader > .aux-track {
    background: white;
}
.aux-fader > .aux-track > .aux-handle {
    background: #00ccff;
}
.aux-fader > .aux-track > .aux-handle::after,
.aux-fader > .aux-track > .aux-handle::before {
    border-color: white;
}
.aux-fader > .aux-value.aux-active > .aux-input {
    background: #00ccff;
}
.aux-fader.aux-left > .aux-marker {
    border-right-color: #00ccff;
}
.aux-fader.aux-right > .aux-marker {
    border-left-color: #00ccff;
}
.aux-fader.aux-top > .aux-marker {
    border-bottom-color: #00ccff;
}
.aux-fader.aux-bottom > .aux-marker {
    border-top-color: #00ccff;
}
.aux-fader > .aux-bar {
    background: white;
}

.aux-frame {
    border-color: white;
}
.aux-frame > .aux-framelabel {
    background: #e3e3e3;
}

.aux-frame {
    border-color: white;
}
.aux-frame > .aux-framelabel {
    background: #e3e3e3;
}

.aux-gauge > svg > .aux-circular {
    fill: #666;
}

.aux-gauge > svg > .aux-circular > .aux-base {
    fill: white;
}

.aux-gauge > svg > .aux-title {
    fill: #666;
}

.aux-graph {
    stroke: white;
}
.aux-graph.aux-filled {
    stroke: white;
    fill: rgba(255, 255, 255, 0.25);
}
.aux-graph.aux-outline {
    stroke: white;
    fill: none;
}

.aux-gridline {
    stroke: #666;
}
.aux-gridlabel {
    fill: #999;
}

.aux-icon {
    
}

.aux-knob > svg > .aux-circular > .aux-hand {
    fill: #666;
}
.aux-knob > svg > .aux-circular > .aux-value {
    fill: #00ccff;
}

.aux-value > .aux-input {
    background: white;
    color: #666;
}
.aux-value.aux-active > .aux-input {
    background: #00ccff;
    color: white;
}

.aux-levelmeter.aux-clipping > .aux-label {
    color: #00ccff;
    text-shadow: 0 0 3px white, 0 0 3px white;
}
.aux-levelmeter > .aux-clip {
    background-color: #00ccff;
}
.aux-levelmeter.aux-vertical.aux-left > .aux-bar > .aux-peak::before {
    border-left-color: #e3e3e3;
}
.aux-levelmeter.aux-vertical.aux-right > .aux-bar > .aux-peak::before {
    border-right-color: #e3e3e3;
}
.aux-levelmeter.aux-horizontal.aux-top > .aux-bar > .aux-peak::before {
    border-top-color: #e3e3e3;
}
.aux-levelmeter.aux-horizontal.aux-bottom > .aux-bar > .aux-peak::before {
    border-bottom-color: #e3e3e3;
}
.aux-levelmeter.aux-vertical > .aux-bar > .aux-peak .aux-peaklabel {
    text-shadow: 0 1px 2px white, 0 1px 2px white;
}
.aux-levelmeter.aux-horizontal > .aux-bar > .aux-peak .aux-peaklabel {
    text-shadow: -1px 0 2px white, -1px 0 2px white;
}

.aux-meterbase > .aux-bar > .aux-mask {
    background: white;
}
.aux-meterbase > .aux-bar > .aux-mark > .aux-dot.aux-marker,
.aux-meterbase > .aux-bar > .aux-mark > .aux-dot.aux-min,
.aux-meterbase > .aux-bar > .aux-mark > .aux-dot.aux-max,
.aux-meterbase > .aux-bar > .aux-mark > .aux-dot.aux-base {
    background: white;
}

.aux-multimeter > .aux-levelmeter > .aux-bar,
.aux-multimeter > .aux-levelmeter > .aux-state {
    border-color: white !important;
}

.aux-notification {
    background: white;
}
.aux-notification > .aux-icon {
    color: #00ccff;
}

.aux-responsehandle {
    fill: #aaa;
}
.aux-responsehandle > .aux-handle {
    fill: #00ccff;
}
.aux-responsehandle.aux-warn > .aux-handle {
    stroke: rgba(0,204,255,0.33);
}
.aux-responsehandle > .aux-zhandle {
    fill: #00ccff;
    stroke: rgba(0,204,255, 0.5);
}
.aux-responsehandle > .aux-zhandle:hover {
    stroke: #00ccff;
}
.aux-responsehandle.aux-active > .aux-zhandle {
    stroke: #00ccff;
}
.aux-responsehandle.aux-circular > .aux-line {
    stroke: #00ccff;
}
.aux-responsehandle.aux-line > .aux-line1 {
    stroke: #00ccff;
}
.aux-responsehandle.aux-line > .aux-line2 {
    stroke: #00ccff;
}
.aux-responsehandle.aux-block > .aux-line1 {
    stroke: #00ccff;
}
.aux-responsehandle.aux-block > .aux-line2 {
    stroke: #00ccff;
}

.aux-button.aux-select > .aux-cell > .aux-arrow {
    border-top-color: #666;
}
.aux-selectlist {
    background: white;
}
.aux-selectlist > .aux-option:hover {
    background: #00ccff;
    color: white;
}
.aux-selectlist > .aux-option.aux-active {
    background: #666;
    color: white;
}

.aux-scale > .aux-label.aux-base {
    color: #00ccff;
}
.aux-scale > .aux-dot {
    background: #666;
}
.aux-scale > .aux-dot.aux-base {
    background: #00ccff;
}

.aux-scale.aux-left > .aux-pointer {
    border-right-color: #00ccff;
}
.aux-scale.aux-right > .aux-pointer {
    border-left-color: #00ccff;
}
.aux-scale.aux-top > .aux-pointer {
    border-bottom-color: #00ccff;
}
.aux-scale.aux-bottom > .aux-pointer {
    border-top-color: #00ccff;
}
.aux-scale > .aux-bar {
    background: #00ccff;
}



.aux-state {
    background-color: white;
}

.aux-state > .aux-mask {
    background: white;
}


.aux-valuebutton > .aux-bar {
    background: #e3e3e3;
}
.aux-valuebutton > .aux-bar > .aux-base {
    background: #00ccff;
}
.aux-valuebutton.aux-vertical-bar > .aux-marker {
    border-color: transparent #00ccff transparent transparent;
}
.aux-valuebutton.aux-horizontal-bar > .aux-marker {
    border-color: #00ccff transparent transparent transparent;
}


.aux-window {
    background: #e3e3e3;
}
.aux-window > .aux-header {
    background: #00ccff;
    color: white;
}
.aux-window > .aux-footer {
    border-color: white;
}
.aux-window > .aux-header .aux-button  {
    background: transparent;
    border-color: transparent;
}
.aux-window > .aux-header .aux-button .aux-icon  {
    color: white !important;
}
