/*
 * This file is part of AUX.
 *
 * AUX is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or (at your option) any later version.
 *
 * AUX is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * General Public License for more details.
 *
 * You should have received a copy of the GNU General
 * Public License along with this program; if not, write to the
 * Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
 * Boston, MA  02110-1301  USA
 */

/*
 * This theme file sets some general defaults suitable for most
 * situations. It mainly covers sizes, margins and paddings, skipping
 * all design-related aspects like fonts, colors, radii and the like.
 *
 * Use this as a starting point to build your custom theme on top.
 */

@charset "UTF-8";

@import './basic_definitions.css';

:root {
  --aux-main-fontfamily: PragatiNarrow, sans-serif;
  --aux-main-fontsize: 14px;
  --aux-main-fontweight: 300;
  --aux-main-lineheight: 1.2em;

  --aux-main-tinyfontsize: 8px;
  --aux-main-smallfontsize: 11px;
  --aux-main-bigfontsize: 17px;

  --aux-scale-fontfamily: Oswald, sans-serif;
  --aux-scale-fontsize: var(--aux-main-tinyfontsize);
  --aux-scale-fontweight: normal;
  --aux-scale-lineheight: 1em;

  --aux-main-margin: 2px;

  --aux-clickable-size: 40px;

  --aux-chart-titlemargin: 8px;

  --aux-clock-labelmargin: 8px;

  --aux-button-paddingvertical: 4px;
  --aux-button-paddinghorizontal: 8px;

  --aux-fader-handlewidth: var(--aux-clickable-size);
  --aux-fader-handleheight: calc(1.5 * var(--aux-clickable-size));
  --aux-fader-gridgap: 2px;

  --aux-fileselect-size-before: '(';
  --aux-fileselect-size-after: ')';

  --aux-frame-padding: 8px;
  --aux-frame-labelheight: 28px;
  --aux-frame-labelpadding: 2px 4px;

  --aux-graph-stroke: 1.2px;
  --aux-graph-filled: 1.2px;
  --aux-graph-outline: 2px;
  --aux-graph-steady: 0.5px;

  --aux-grid-labelpadding: 0 3px;

  --aux-knob-tiny: 40px;
  --aux-knob-small: 64px;
  --aux-knob-medium: 96px;
  --aux-knob-large: 144px;
  --aux-knob-huge: 192px;
  --aux-knob-bgmargintiny: 6px;
  --aux-knob-bgmarginsmall: 14.5px;
  --aux-knob-bgmarginmedium: 22px;
  --aux-knob-bgmargin: 23px;

  --aux-levelmeter-statesize: 4px;

  --aux-matrix-virtualtree-size: 196px;

  --aux-meter-size: 16px;
  --aux-meter-gridgap: 2px;

  --aux-multimeter-labelwidth: 40px;
  --aux-multimeter-valuewidth: 40px;
  --aux-multimeter-labelheight: 20px;
  --aux-multimeter-reduce: 1px;
  --aux-multimeter-gridgap: 1px;

  --aux-notification-maxwidth: 400px;
  --aux-notification-padding: 16px;
  --aux-notification-margin: 4px;

  --aux-pages-showhideduration: 0.5s;
  --aux-pages-showhidetransition: ease-in-out;

  --aux-reverb-input-width: 4px;

  --aux-scale-minwidth: 40px;
  --aux-scale-minheight: 20px;
  --aux-scale-dotsize: 3px;
  --aux-scale-markersize: 5px;
  --aux-scale-labelmarginvertical: 8px;
  --aux-scale-labelmarginhorizontal: 6px;
  --aux-scale-barsize: 5px;
  --aux-scale-pointersize: 5px;

  --aux-scroller-bar-size: 12px;
  --aux-scroller-bar-size-hover: 24px;
  --aux-scroller-bar-min-size: 40px;

  --aux-select-icon-size: 16px;
  --aux-select-icon-fontsize: 16px;
  --aux-select-icon-margin: 4px;

  --aux-selectentry-lineheight: 2em;

  --aux-spread-handlewidth: var(--aux-clickable-size);
  --aux-spread-handleheight: var(--aux-clickable-size);
  --aux-spread-gridgap: 2px;

  --aux-state-width: 12px;
  --aux-state-height: 6px;

  --aux-charthandle-strokewarn: 20;

  --aux-value-height: 32px;
  --aux-value-padding: 2px;

  --aux-valuebutton-gap: 4px;
  --aux-valuebutton-paddingvertical: 0px;
  --aux-valuebutton-scaleheight: 16px;
  --aux-valuebutton-scalemargin: 6px;

  --aux-valueknob-gridgap: 4px;

  --aux-virtualtreeentry-size: 32px;
}
