/*
 * This file is part of AUX.
 *
 * AUX is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or (at your option) any later version.
 *
 * AUX is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * General Public License for more details.
 *
 * You should have received a copy of the GNU General
 * Public License along with this program; if not, write to the
 * Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
 * Boston, MA  02110-1301  USA
 */

/*
 * This theme file sets some general defaults suitable for most
 * situations. It mainly covers sizes, margins and paddings, skipping
 * all design-related aspects like fonts, colors, radii and the like.
 *
 * Use this as a starting point to build your custom theme on top.
 */

@charset "UTF-8";

/* ######## GENERIC CSS ######## */

.aux-widget {
  margin: var(--aux-main-margin);
  font-family: var(--aux-main-fontfamily);
  font-size: var(--aux-main-fontsize);
  font-weight: var(--aux-main-fontweight);
  line-height: var(--aux-main-lineheight);
}

/* ######## WIDGETS ######## */

/* BUTTON */

.aux-button {
  height: var(--aux-clickable-size);
  padding: var(--aux-button-paddingvertical) var(--aux-button-paddinghorizontal);
  overflow: hidden;
}

/* BUTTONS */

.aux-buttons > .aux-button {
  flex: 0 0 auto;
}
.aux-buttons.aux-horizontal > .aux-button {
  margin-top: 0;
  margin-bottom: 0;
}
.aux-buttons.aux-vertical > .aux-button {
  margin-left: 0;
  margin-right: 0;
}
.aux-buttons.aux-horizontal > .aux-button:first-of-type {
  margin-left: 0;
}
.aux-buttons.aux-horizontal > .aux-button:last-of-type {
  margin-right: 0;
}
.aux-buttons.aux-vertical > .aux-button:first-of-type {
  margin-top: 0;
}
.aux-buttons.aux-vertical > .aux-button:last-of-type {
  margin-bottom: 0;
}

/* CHART */

.aux-chart .aux-title {
  margin: var(--aux-chart-titlemargin);
  font-size: var(--aux-main-bigfontsize);
}

/* CIRCULAR (out of order because .aux-charthandle.aux-circular overrides) */

.aux-circular {
  font-family: var(--aux-scale-fontfamily);
  font-size: var(--aux-scale-fontsize);
  font-weight: var(--aux-scale-fontweight);
  line-height: var(--aux-scale-lineheight);
}

/* CHARTHANDLE */

.aux-charthandle {
  font-family: var(--aux-main-fontfamily);
  font-size: var(--aux-main-smallfontsize);
  font-weight: var(--aux-main-fontweight);
  line-height: var(--aux-main-lineheight);
}
.aux-charthandle:hover {
  cursor: pointer;
}
.aux-charthandle .aux-line {
  stroke-width: 1px;
}
.aux-charthandle .aux-line1 {
  stroke-width: 1;
}
.aux-charthandle.aux-warn > .aux-handle {
  stroke-width: var(--aux-charthandle-strokewarn);
}

/* CLOCK */

.aux-clock .aux-label {
  margin: var(--aux-clock-labelmargin);
}

/* COLORPICKER */

.aux-colorpicker > .aux-value {
  height: var(--aux-clickable-size);
}

/* FADER */

.aux-fader {
  grid-gap: var(--aux-fader-gridgap);
}
.aux-fader > .aux-label {
  margin: 0;
}
.aux-fader > .aux-value {
  margin: 0;
}
.aux-fader.aux-vertical > .aux-track {
  width: var(--aux-fader-handlewidth);
}
.aux-fader.aux-horizontal > .aux-track {
  height: var(--aux-fader-handlewidth);
}
.aux-fader.aux-left > .aux-track {
  justify-self: end;
}
.aux-fader.aux-right > .aux-track {
  justify-self: start;
}
.aux-fader.aux-top > .aux-track {
  align-self: end;
}
.aux-fader.aux-bottom > .aux-track {
  align-self: start;
}
.aux-fader.aux-vertical .aux-handle {
  width: var(--aux-fader-handlewidth);
  height: var(--aux-fader-handleheight);
}
.aux-fader.aux-horizontal .aux-handle {
  width: var(--aux-fader-handleheight);
  height: var(--aux-fader-handlewidth);
}
.aux-fader.aux-vertical > .aux-scale {
  margin: calc(var(--aux-fader-handleheight) / 2) 0;
}
.aux-fader.aux-horizontal > .aux-scale {
  margin: 0 calc(var(--aux-fader-handleheight) / 2);
}
.aux-fader.aux-left > .aux-scale {
  justify-self: start;
}
.aux-fader.aux-right > .aux-scale {
  justify-self: end;
}
.aux-fader.aux-top > .aux-scale {
  align-self: start;
}
.aux-fader.aux-bottom > .aux-scale {
  align-self: end;
}
.aux-fader.aux-left > .aux-value {
  justify-self: center;
}
.aux-fader.aux-right > .aux-value {
  justify-self: center;
}
.aux-fader.aux-top > .aux-value {
  align-self: center;
}
.aux-fader.aux-bottom > .aux-value {
  align-self: center;
}

/* FILESELECT */

.aux-fileselect > .aux-size::before {
  content: var(--aux-fileselect-size-before);
}
.aux-fileselect > .aux-size::after {
  content: var(--aux-fileselect-size-after);
}

/* FRAME */

.aux-frame {
  padding: var(--aux-frame-labelheight) var(--aux-frame-padding)
    var(--aux-frame-padding) var(--aux-frame-padding);
}
.aux-frame > .aux-framelabel {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  margin: 0;
  padding: var(--aux-frame-labelpadding);
}

/* GRAPH */

.aux-graph {
  stroke-width: var(--aux-graph-stroke);
  stroke-linecap: round;
  stroke-linejoin: round;
}

.aux-graph.aux-filled {
  stroke-width: var(--aux-graph-stroke);
}

.aux-graph.aux-outline {
  stroke-width: var(--aux-graph-outline);
}
.aux-graph.aux-steady {
  stroke-width: var(--aux-graph-steady);
}

/* GRID */

.aux-gridlabel {
  padding: var(--aux-grid-labelpadding);
  font-family: var(--aux-scale-fontfamily);
  font-size: var(--aux-scale-fontsize);
  font-weight: var(--aux-scale-fontweight);
  line-height: var(--aux-scale-lineheight);
}

/* ICON */

.aux-icon {
  text-align: center;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* KNOB */

.aux-knob {
  cursor: pointer;
  width: var(--aux-knob-medium);
  height: var(--aux-knob-medium);
}
.aux-knob::before,
.aux-knob::after {
  content: '';
  position: absolute;
  width: calc(100% - var(--aux-knob-bgmargin) * 2);
  height: calc(100% - var(--aux-knob-bgmargin) * 2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.aux-knob::after {
  width: calc(100% - var(--aux-knob-bgmargin) * 2 - 1px);
  height: calc(100% - var(--aux-knob-bgmargin) * 2 - 1px);
  background: transparent;
  pointer-events: none;
}
.aux-knob.aux-preset-tiny {
  width: var(--aux-knob-tiny);
  height: var(--aux-knob-tiny);
}
.aux-knob.aux-preset-tiny::before {
  width: calc(100% - var(--aux-knob-bgmargintiny) * 2);
  height: calc(100% - var(--aux-knob-bgmargintiny) * 2);
}
.aux-knob.aux-preset-tiny::after {
  width: calc(100% - var(--aux-knob-bgmargintiny) * 2 - 1px);
  height: calc(100% - var(--aux-knob-bgmargintiny) * 2 - 1px);
}
.aux-knob.aux-preset-small {
  width: var(--aux-knob-small);
  height: var(--aux-knob-small);
}
.aux-knob.aux-preset-small::before {
  width: calc(100% - var(--aux-knob-bgmarginsmall) * 2);
  height: calc(100% - var(--aux-knob-bgmarginsmall) * 2);
}
.aux-knob.aux-preset-small::after {
  width: calc(100% - var(--aux-knob-bgmarginsmall) * 2 - 1px);
  height: calc(100% - var(--aux-knob-bgmarginsmall) * 2 - 1px);
}
.aux-knob.aux-preset-medium {
  width: var(--aux-knob-medium);
  height: var(--aux-knob-medium);
}
.aux-knob.aux-preset-medium::before {
  width: calc(100% - var(--aux-knob-bgmarginmedium) * 2);
  height: calc(100% - var(--aux-knob-bgmarginmedium) * 2);
}
.aux-knob.aux-preset-medium::after {
  width: calc(100% - var(--aux-knob-bgmarginmedium) * 2 - 1px);
  height: calc(100% - var(--aux-knob-bgmarginmedium) * 2 - 1px);
}
.aux-knob.aux-preset-large {
  width: var(--aux-knob-large);
  height: var(--aux-knob-large);
}
.aux-knob.aux-preset-huge {
  width: var(--aux-knob-huge);
  height: var(--aux-knob-huge);
}

/* LABEL */

.aux-label {
  text-overflow: ellipsis;
  overflow: hidden;
}

/* LEVELMETER */

.aux-levelmeter.aux-vertical > .aux-clip {
  width: var(--aux-meter-size);
  height: var(--aux-levelmeter-statesize);
}
.aux-levelmeter.aux-horizontal > .aux-clip {
  width: var(--aux-levelmeter-statesize);
  height: var(--aux-meter-size);
}

/* VIRTUALTREEENTRY */

.aux-virtualtree .aux-virtualtreeentry {
  height: var(--aux-virtualtreeentry-size);
  align-items: center;
  display: flex;
}
.aux-virtualtree .aux-virtualtreeentry {
  /* prevent from being overwritten by aux-widget */
  margin: 0;
}
.aux-virtualtreeentry > .aux-indent {
  width: calc(
    var(--aux-virtualtreeentry-size) * var(--aux-virtualtreeentry-depth)
  );
  height: var(--aux-virtualtreeentry-size);
  font-size: var(--aux-virtualtreeentry-size);
  line-height: var(--aux-virtualtreeentry-size);
  order: 0;
  margin: 0;
}
.aux-virtualtreeentry > .aux-collapse {
  flex: 0 0 var(--aux-virtualtreeentry-size);
  width: var(--aux-virtualtreeentry-size);
  height: var(--aux-virtualtreeentry-size);
  order: 1;
  margin: 0;
}
.aux-virtualtreeentry > .aux-icon {
  flex: 0 0 var(--aux-virtualtreeentry-size);
  height: var(--aux-virtualtreeentry-size);
  order: 2;
  margin: 0;
}
.aux-virtualtreeentry > .aux-label {
  flex: 1 1 auto;
  order: 3;
  line-height: var(--aux-virtualtreeentry-size);
  margin: 0;
  padding: 0 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* MATRIX */

.aux-matrix {
  /*
    min-width: 480px;
    min-height: 480px;
*/
}
.aux-matrix > .aux-virtualtree {
  width: var(--aux-matrix-virtualtree-size);
}
.aux-matrix > .aux-virtualtree.aux-virtualtreeleft {
  top: var(--aux-matrix-virtualtree-size);
  left: 0;
  bottom: 0;
  height: auto;
}
.aux-matrix > .aux-virtualtree.aux-virtualtreetop {
  top: 0;
  left: 0;
  transform-origin: top right;
  transform: rotate(-90deg);
}
.aux-matrix
  > .aux-virtualtree.aux-virtualtreetop
  .aux-virtualtreeentry
  > .aux-label {
  order: 0;
  text-align: right;
}
.aux-matrix
  > .aux-virtualtree.aux-virtualtreetop
  .aux-virtualtreeentry
  > .aux-icon {
  order: 1;
  transform: rotate(90deg);
}
.aux-matrix
  > .aux-virtualtree.aux-virtualtreetop
  .aux-virtualtreeentry
  > .aux-collapse {
  order: 2;
}
.aux-matrix
  > .aux-virtualtree.aux-virtualtreetop
  .aux-virtualtreeentry
  > .aux-indent {
  order: 3;
  transform: scaleX(-1);
}
.aux-matrix > .aux-indicators {
  left: var(--aux-matrix-virtualtree-size);
  top: var(--aux-matrix-virtualtree-size);
}
.aux-matrix .aux-indicator {
  width: var(--aux-virtualtreeentry-size);
  height: var(--aux-virtualtreeentry-size);
  margin: 0;
}
.aux-matrix > .aux-indicators > .aux-batch {
  display: block;
}
.aux-matrix > .aux-indicators > .aux-batch > .aux-batchbuttons {
  display: grid;
  grid-template-columns: var(--aux-clickable-size) var(--aux-clickable-size);
  grid-template-rows: var(--aux-clickable-size) var(--aux-clickable-size);
  grid-gap: var(--aux-main-margin);
  position: absolute;
  margin: 0;
}
.aux-matrix > .aux-indicators > .aux-batch.aux-top-left > .aux-batchbuttons {
  left: var(--aux-main-margin);
  top: var(--aux-main-margin);
}
.aux-matrix > .aux-indicators > .aux-batch.aux-top-right > .aux-batchbuttons {
  right: var(--aux-main-margin);
  top: var(--aux-main-margin);
}
.aux-matrix > .aux-indicators > .aux-batch.aux-bottom-left > .aux-batchbuttons {
  left: var(--aux-main-margin);
  bottom: var(--aux-main-margin);
}
.aux-matrix
  > .aux-indicators
  > .aux-batch.aux-bottom-right
  > .aux-batchbuttons {
  right: var(--aux-main-margin);
  bottom: var(--aux-main-margin);
}
.aux-matrix > .aux-indicators > .aux-batch > .aux-batchbuttons > .aux-button {
}
.aux-matrix > .aux-indicators > .aux-batch > .aux-cancel {
}
.aux-matrix > .aux-indicators > .aux-batch > .aux-selectdiagonal {
}
.aux-matrix > .aux-indicators > .aux-batch > .aux-deselectdiagonal {
}
.aux-matrix > .aux-indicators > .aux-batch > .aux-deselectall {
}

/* METER */

.aux-meter {
  grid-gap: var(--aux-meter-gridgap);
}
.aux-meter.aux-vertical > .aux-bar {
  width: var(--aux-meter-size);
}
.aux-meter.aux-horizontal > .aux-bar {
  height: var(--aux-meter-size);
}
.aux-meter > .aux-widget {
  margin: 0;
}
.aux-meter > .aux-label {
  min-height: 1em;
}
.aux-meter > .aux-value {
  height: auto;
}

/* MULTIMETER */

.aux-multimeter.aux-has-label {
  padding-top: var(--aux-multimeter-labelheight);
}
.aux-multimeter.aux-bottom.aux-has-label {
  padding-top: 0;
  padding-bottom: var(--aux-multimeter-labelheight);
}
.aux-multimeter > .aux-label {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  text-align: left;
  margin: 0 0 var(--aux-main-margin) 0;
}
.aux-multimeter.aux-bottom > .aux-label {
  bottom: 0;
  top: auto;
  margin: var(--aux-main-margin) 0 0 0;
}
.aux-multimeter.aux-horizontal.aux-has-labels > .aux-label {
  margin-left: calc(
    var(--aux-multimeter-labelwidth) + var(--aux-multimeter-gridgap)
  );
}
.aux-multimeter.aux-right > .aux-label {
  text-align: right;
}
.aux-multimeter.aux-vertical > .aux-meter {
  margin: 0 var(--aux-multimeter-gridgap);
}
.aux-multimeter.aux-horizontal > .aux-meter {
  margin: var(--aux-multimeter-gridgap) 0;
}
.aux-multimeter .aux-meter > .aux-label {
  font-size: var(--aux-main-smallfontsize);
}
.aux-multimeter.aux-count-5 .aux-meter > .aux-label,
.aux-multimeter.aux-count-6 .aux-meter > .aux-label,
.aux-multimeter.aux-count-7 .aux-meter > .aux-label,
.aux-multimeter.aux-count-8 .aux-meter > .aux-label,
.aux-multimeter.aux-count-9 .aux-meter > .aux-label,
.aux-multimeter.aux-count-10 .aux-meter > .aux-label {
  font-family: var(--aux-scale-fontfamily);
  font-size: var(--aux-scale-fontsize);
  font-weight: var(--aux-scale-fontweight);
  line-height: var(--aux-scale-lineheight);
}
.aux-multimeter.aux-horizontal .aux-meter > .aux-label {
  width: var(--aux-multimeter-labelwidth);
  text-align: right;
}
.aux-multimeter.aux-horizontal .aux-meter > .aux-value {
  width: var(--aux-multimeter-valuewidth);
}
.aux-multimeter.aux-vertical.aux-count-2 .aux-clip,
.aux-multimeter.aux-vertical.aux-count-2 .aux-bar {
  width: calc(var(--aux-meter-size) - var(--aux-multimeter-reduce) * 2);
}
.aux-multimeter.aux-vertical.aux-count-3 .aux-clip,
.aux-multimeter.aux-vertical.aux-count-3 .aux-bar {
  width: calc(var(--aux-meter-size) - var(--aux-multimeter-reduce) * 3);
}
.aux-multimeter.aux-vertical.aux-count-4 .aux-clip,
.aux-multimeter.aux-vertical.aux-count-4 .aux-bar {
  width: calc(var(--aux-meter-size) - var(--aux-multimeter-reduce) * 4);
}
.aux-multimeter.aux-vertical.aux-count-5 .aux-clip,
.aux-multimeter.aux-vertical.aux-count-5 .aux-bar {
  width: calc(var(--aux-meter-size) - var(--aux-multimeter-reduce) * 5);
}
.aux-multimeter.aux-vertical.aux-count-6 .aux-clip,
.aux-multimeter.aux-vertical.aux-count-6 .aux-bar {
  width: calc(var(--aux-meter-size) - var(--aux-multimeter-reduce) * 6);
}
.aux-multimeter.aux-vertical.aux-count-7 .aux-clip,
.aux-multimeter.aux-vertical.aux-count-7 .aux-bar {
  width: calc(var(--aux-meter-size) - var(--aux-multimeter-reduce) * 7);
}
.aux-multimeter.aux-vertical.aux-count-8 .aux-clip,
.aux-multimeter.aux-vertical.aux-count-8 .aux-bar {
  width: calc(var(--aux-meter-size) - var(--aux-multimeter-reduce) * 8);
}
.aux-multimeter.aux-vertical.aux-count-9 .aux-clip,
.aux-multimeter.aux-vertical.aux-count-9 .aux-bar {
  width: calc(var(--aux-meter-size) - var(--aux-multimeter-reduce) * 9);
}
.aux-multimeter.aux-vertical.aux-count-10 .aux-clip,
.aux-multimeter.aux-vertical.aux-count-10 .aux-bar {
  width: calc(var(--aux-meter-size) - var(--aux-multimeter-reduce) * 10);
}
.aux-multimeter.aux-horizontal.aux-count-2 .aux-clip,
.aux-multimeter.aux-horizontal.aux-count-2 .aux-bar {
  height: calc(var(--aux-meter-size) - var(--aux-multimeter-reduce) * 2);
}
.aux-multimeter.aux-horizontal.aux-count-3 .aux-clip,
.aux-multimeter.aux-horizontal.aux-count-3 .aux-bar {
  height: calc(var(--aux-meter-size) - var(--aux-multimeter-reduce) * 3);
}
.aux-multimeter.aux-horizontal.aux-count-4 .aux-clip,
.aux-multimeter.aux-horizontal.aux-count-4 .aux-bar {
  height: calc(var(--aux-meter-size) - var(--aux-multimeter-reduce) * 4);
}
.aux-multimeter.aux-horizontal.aux-count-5 .aux-clip,
.aux-multimeter.aux-horizontal.aux-count-5 .aux-bar {
  height: calc(var(--aux-meter-size) - var(--aux-multimeter-reduce) * 5);
}
.aux-multimeter.aux-horizontal.aux-count-6 .aux-clip,
.aux-multimeter.aux-horizontal.aux-count-6 .aux-bar {
  height: calc(var(--aux-meter-size) - var(--aux-multimeter-reduce) * 6);
}
.aux-multimeter.aux-horizontal.aux-count-7 .aux-clip,
.aux-multimeter.aux-horizontal.aux-count-7 .aux-bar {
  height: calc(var(--aux-meter-size) - var(--aux-multimeter-reduce) * 7);
}
.aux-multimeter.aux-horizontal.aux-count-8 .aux-clip,
.aux-multimeter.aux-horizontal.aux-count-8 .aux-bar {
  height: calc(var(--aux-meter-size) - var(--aux-multimeter-reduce) * 8);
}
.aux-multimeter.aux-horizontal.aux-count-9 .aux-clip,
.aux-multimeter.aux-horizontal.aux-count-9 .aux-bar {
  height: calc(var(--aux-meter-size) - var(--aux-multimeter-reduce) * 9);
}
.aux-multimeter.aux-horizontal.aux-count-10 .aux-clip,
.aux-multimeter.aux-horizontal.aux-count-10 .aux-bar {
  height: calc(var(--aux-meter-size) - var(--aux-multimeter-reduce) * 10);
}

/* NAVIGATION */

.aux-navigation.aux-horizontal {
  height: var(--aux-clickable-size);
}
.aux-navigation > .aux-buttons {
  margin: 0;
}
.aux-navigation.aux-horizontal > .aux-buttons {
  margin: 0 var(--aux-main-margin);
}
.aux-navigation.aux-vertical > .aux-buttons {
  margin: var(--aux-main-margin) 0;
}
.aux-navigation > .aux-buttons > .aux-button {
  margin: 0;
}
.aux-navigation.aux-horizontal > .aux-buttons > .aux-button {
  margin: 0 var(--aux-main-margin);
}
.aux-navigation.aux-vertical > .aux-buttons > .aux-button {
  margin: var(--aux-main-margin) 0;
}
.aux-navigation.aux-horizontal
  > .aux-buttons.aux-horizontal
  > .aux-button:first-of-type {
  margin-left: 0;
}
.aux-navigation.aux-horizontal
  > .aux-buttons.aux-horizontal
  > .aux-button:last-of-type {
  margin-right: 0;
}
.aux-navigation.aux-vertical
  > .aux-buttons.aux-vertical
  > .aux-button:first-of-type {
  margin-top: 0;
}
.aux-navigation.aux-vertical
  > .aux-buttons.aux-vertical
  > .aux-button:last-of-type {
  margin-bottom: 0;
}

.aux-navigation > .aux-button {
  margin: 0;
}
.aux-navigation.aux-horizontal > .aux-previous {
  margin-right: var(--aux-main-margin);
}
.aux-navigation.aux-horizontal > .aux-next {
  margin-left: var(--aux-main-margin);
}
.aux-navigation.aux-vertical > .aux-previous {
  margin-bottom: var(--aux-main-margin);
}
.aux-navigation.aux-vertical > .aux-next {
  margin-top: var(--aux-main-margin);
}

/* NOTIFICATIONS */

.aux-notifications {
  bottom: 0;
  right: 0;
  max-width: var(--aux-notification-maxwidth);
  transform: translate3d(0, 0, 0);
  text-align: right;
}
.aux-notification {
  padding: var(--aux-notification-padding);
  margin: var(--aux-notification-margin);
  text-align: left;
  display: flex;
  align-items: center;
}
.aux-notification > .aux-close {
  order: 3;
}

/* PAGER */

.aux-pager > .aux-pages {
  margin: 0;
}
.aux-pager > .aux-pages > .aux-page {
  margin: 0;
}

/* PAGES */

.aux-pages.aux-forward.aux-vertical > .aux-page.aux-hiding {
  animation: aux-page-vertical-out-forward var(--aux-pages-showhideduration)
    var(--aux-pages-showhidetransition);
  transform: translateY(-100%);
}
.aux-pages.aux-forward.aux-vertical > .aux-page.aux-showing {
  animation: aux-page-vertical-in-forward var(--aux-pages-showhideduration)
    var(--aux-pages-showhidetransition);
}

.aux-pages.aux-backward.aux-vertical > .aux-page.aux-hiding {
  animation: aux-page-vertical-out-backward var(--aux-pages-showhideduration)
    var(--aux-pages-showhidetransition);
  transform: translateY(100%);
}
.aux-pages.aux-backward.aux-vertical > .aux-page.aux-showing {
  animation: aux-page-vertical-in-backward var(--aux-pages-showhideduration)
    var(--aux-pages-showhidetransition);
}

.aux-pages.aux-forward.aux-horizontal > .aux-page.aux-hiding {
  animation: aux-page-horizontal-out-forward var(--aux-pages-showhideduration)
    var(--aux-pages-showhidetransition);
  transform: translateX(-100%);
}
.aux-pages.aux-forward.aux-horizontal > .aux-page.aux-showing {
  animation: aux-page-horizontal-in-forward var(--aux-pages-showhideduration)
    var(--aux-pages-showhidetransition);
}

.aux-pages.aux-backward.aux-horizontal > .aux-page.aux-hiding {
  animation: aux-page-horizontal-out-backward var(--aux-pages-showhideduration)
    var(--aux-pages-showhidetransition);
  transform: translateX(100%);
}
.aux-pages.aux-backward.aux-horizontal > .aux-page.aux-showing {
  animation: aux-page-horizontal-in-backward var(--aux-pages-showhideduration)
    var(--aux-pages-showhidetransition);
}

@keyframes aux-page-horizontal-in-forward {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes aux-page-horizontal-out-forward {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes aux-page-horizontal-in-backward {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes aux-page-horizontal-out-backward {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes aux-page-vertical-in-forward {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes aux-page-vertical-out-forward {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes aux-page-vertical-in-backward {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes aux-page-vertical-out-backward {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

/* REVERB */

.aux-reverb > svg > .aux-graphs > .aux-input {
  stroke-width: var(--aux-reverb-input-width);
}

/* ROOT */

.aux-root {
  margin: 0;
}

/* SCALE */

.aux-scale.aux-horizontal {
  min-height: var(--aux-scale-minheight);
}
.aux-scale.aux-vertical {
  min-width: var(--aux-scale-minwidth);
}
.aux-scale.aux-horizontal > .aux-dot {
  width: 1px;
  height: var(--aux-scale-dotsize);
}
.aux-scale.aux-vertical > .aux-dot {
  width: var(--aux-scale-dotsize);
  height: 1px;
}
.aux-scale.aux-horizontal > .aux-dot.aux-marker {
  height: var(--aux-scale-markersize);
}
.aux-scale.aux-vertical > .aux-dot.aux-marker {
  width: var(--aux-scale-markersize);
}
.aux-scale.aux-top > .aux-dot {
  top: 0;
}
.aux-scale.aux-left > .aux-dot {
  left: 0;
}
.aux-scale.aux-right > .aux-dot {
  right: 0;
}
.aux-scale.aux-bottom > .aux-dot {
  bottom: 0;
}
.aux-scale > .aux-label {
  font-family: var(--aux-scale-fontfamily);
  font-size: var(--aux-scale-fontsize);
  font-weight: var(--aux-scale-fontweight);
  line-height: var(--aux-scale-lineheight);
}
.aux-scale.aux-top > .aux-label {
  top: var(--aux-scale-labelmarginhorizontal);
}
.aux-scale.aux-left > .aux-label {
  left: var(--aux-scale-labelmarginvertical);
}
.aux-scale.aux-right > .aux-label {
  right: var(--aux-scale-labelmarginvertical);
}
.aux-scale.aux-bottom > .aux-label {
  bottom: var(--aux-scale-labelmarginhorizontal);
}
/*
 * enable to keep labels inside the scales container
 *
.aux-scale.aux-horizontal > .aux-max,
.aux-scale.aux-horizontal.aux-reverse > .aux-min {
    transform: translateX(-100%);
}

.aux-scale.aux-horizontal > .aux-min,
.aux-scale.aux-horizontal.aux-reverse > .aux-max {
    transform: translateX(0);
}
.aux-scale.aux-vertical > .aux-max,
.aux-scale.aux-vertical.aux-reverse > .aux-min {
    transform: translateY(100%);
}

.aux-scale.aux-vertical > .aux-min,
.aux-scale.aux-vertical.aux-reverse > .aux-max {
    transform: translateY(0);
}
*/
.aux-scale.aux-vertical > .aux-bar {
  width: var(--aux-scale-barsize);
}
.aux-scale.aux-horizontal > .aux-bar {
  height: var(--aux-scale-barsize);
}
.aux-scale > .aux-pointer {
  width: calc(var(--aux-scale-pointersize) * 2);
  height: calc(var(--aux-scale-pointersize) * 2);
  border-width: var(--aux-scale-pointersize);
}
.aux-scale.aux-vertical > .aux-pointer {
  margin-bottom: calc(var(--aux-scale-pointersize) * -1);
}
.aux-scale.aux-left > .aux-pointer {
  left: calc(var(--aux-scale-pointersize) * -1);
}
.aux-scale.aux-right > .aux-pointer {
  right: calc(var(--aux-scale-pointersize) * -1);
}
.aux-scale.aux-horizontal > .aux-pointer {
  margin-left: calc(var(--aux-scale-pointersize) * -1);
}
.aux-scale.aux-top > .aux-pointer {
  top: calc(var(--aux-scale-pointersize) * -1);
}
.aux-scale.aux-bottom > .aux-pointer {
  bottom: calc(var(--aux-scale-pointersize) * -1);
}

/* SCROLLER */

.aux-scroller > .aux-scrollbar {
  margin: var(--aux-scroller-bar-margin);
}
.aux-scroller > .aux-scrollbar.aux-vertical {
}
.aux-scroller > .aux-scrollbar.aux-vertical {
  width: var(--aux-scroller-bar-size);
  min-height: var(--aux-scroller-bar-min-size);
}
.aux-scroller > .aux-scrollbar.aux-horizontal {
  height: var(--aux-scroller-bar-size);
  min-width: var(--aux-scroller-bar-min-size);
}
.aux-scroller > .aux-scrollbar.aux-vertical:hover,
.aux-scroller > .aux-scrollbar.aux-vertical.aux-dragging {
  width: var(--aux-scroller-bar-size-hover);
}
.aux-scroller > .aux-scrollbar.aux-horizontal:hover,
.aux-scroller > .aux-scrollbar.aux-horizontal.aux-dragging {
  height: var(--aux-scroller-bar-size-hover);
}

/* SELECT */

.aux-button.aux-select > .aux-icon {
  font-size: var(--aux-select-icon-fontsize);
  line-height: var(--aux-select-icon-size);
  height: var(--aux-select-icon-size);
  width: var(--aux-select-icon-size);
  margin: 0 0 0 var(--aux-select-icon-margin) !important;
}
.aux-selectlist {
  padding: 0;
  text-align: left;
  border-radius: var(--aux-border-radius);
}

.aux-selectlist > .aux-selectentry {
  margin: 0;
  display: flex;
}

/* SPREAD */

.aux-spread {
  grid-gap: var(--aux-spread-gridgap);
}
.aux-spread > .aux-label {
  margin: 0;
}
.aux-spread > .aux-value {
  margin: 0;
}
.aux-spread.aux-vertical > .aux-track {
  width: var(--aux-spread-handlewidth);
}
.aux-spread.aux-horizontal > .aux-track {
  height: var(--aux-spread-handlewidth);
}
.aux-spread.aux-left > .aux-track {
  justify-self: end;
}
.aux-spread.aux-right > .aux-track {
  justify-self: start;
}
.aux-spread.aux-top > .aux-track {
  align-self: end;
}
.aux-spread.aux-bottom > .aux-track {
  align-self: start;
}
.aux-spread.aux-vertical .aux-lower {
  width: var(--aux-spread-handlewidth);
  height: var(--aux-spread-handleheight);
}
.aux-spread.aux-horizontal .aux-lower {
  width: var(--aux-spread-handleheight);
  height: var(--aux-spread-handlewidth);
}
.aux-spread.aux-vertical .aux-upper {
  width: var(--aux-spread-handlewidth);
  height: var(--aux-spread-handleheight);
  margin-bottom: var(--aux-spread-handleheight);
}
.aux-spread.aux-horizontal .aux-upper {
  width: var(--aux-spread-handleheight);
  height: var(--aux-spread-handlewidth);
  margin-left: var(--aux-spread-handleheight);
}
.aux-spread.aux-vertical > .aux-scale {
  margin: var(--aux-spread-handleheight) 0 var(--aux-spread-handleheight) 0;
}
.aux-spread.aux-horizontal > .aux-scale {
  margin: 0 var(--aux-spread-handleheight) 0 var(--aux-spread-handleheight);
}
.aux-spread.aux-left > .aux-scale {
  justify-self: start;
}
.aux-spread.aux-right > .aux-scale {
  justify-self: end;
}
.aux-spread.aux-top > .aux-scale {
  align-self: start;
}
.aux-spread.aux-bottom > .aux-scale {
  align-self: end;
}
.aux-spread.aux-left > .aux-value {
  justify-self: center;
}
.aux-spread.aux-right > .aux-value {
  justify-self: center;
}
.aux-spread.aux-top > .aux-value {
  align-self: center;
}
.aux-spread.aux-bottom > .aux-value {
  align-self: center;
}

/* STATE */

.aux-state {
  width: var(--aux-state-width);
  height: var(--aux-state-height);
}
.aux-state > .aux-mask {
  background: var(--aux-widget-base);
}

/* VALUE */

.aux-value {
  height: var(--aux-value-height);
}
.aux-value > .aux-input {
  -webkit-appearance: none;
  font-family: var(--aux-main-fontfamily);
  font-size: var(--aux-main-bigfontsize);
  font-weight: var(--aux-main-fontweight);
  line-height: var(--aux-main-lineheight);
  padding: var(--aux-value-padding);
}

/* VALUEBUTTON */

.aux-valuebutton {
  padding: var(--aux-valuebutton-paddingvertical) 0
    var(--aux-valuebutton-paddingvertical) var(--aux-button-paddinghorizontal);
  grid-gap: 0 var(--aux-valuebutton-gap);
}
.aux-valuebutton.aux-vertical {
  height: auto;
  padding: var(--aux-button-paddingvertical) var(--aux-button-paddinghorizontal);
}
.aux-valuebutton > .aux-widget {
  margin: 0;
}
.aux-valuebutton > .aux-icon {
  justify-self: start;
  line-height: var(--aux-main-fontsize);
}
.aux-valuebutton > .aux-label {
  justify-self: start;
}
.aux-valuebutton.aux-horizontal > .aux-value {
  height: 100%;
  margin: 0 0 0 var(--aux-valuebutton-gap);
}
.aux-valuebutton.aux-vertical > .aux-value {
  margin: var(--aux-valuebutton-gap) 0;
}
.aux-valuebutton.aux-horizontal > .aux-value > .aux-input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.aux-valuebutton.aux-vertical > .aux-value > .aux-input {
  border-radius: 0;
}
.aux-valuebutton > .aux-scale {
  font-size: var(--aux-main-tinyfontsize);
  min-height: var(--aux-valuebutton-scaleheight);
}
.aux-valuebutton > .aux-scale .aux-label {
  top: var(--aux-valuebutton-scalemargin);
}

/* VALUEKNOB */

.aux-valueknob {
  grid-gap: var(--aux-valueknob-gridgap);
}
.aux-valueknob > .aux-widget {
  margin: 0;
}
.aux-valueknob > .aux-knob {
  z-index: 1;
}
.aux-valueknob > .aux-value {
  z-index: 0;
}
/*
.aux-valueknob.aux-vertical > .aux-knob {
  margin: var(--aux-valueknob-gridgap) 0;
}
*/
.aux-valueknob.aux-horizontal > .aux-knob {
  margin: 0 var(--aux-valueknob-gridgap);
}
