/*
 * This file is part of AUX.
 *
 * AUX is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or (at your option) any later version.
 *
 * AUX is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * General Public License for more details.
 *
 * You should have received a copy of the GNU General
 * Public License along with this program; if not, write to the
 * Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
 * Boston, MA  02110-1301  USA
 */

/*
 * This is the default AUX style. Use it to get your development started,
 * concentrating on the design later. If you like the overall appearance
 * and just feel like changing colors, take a look at the variables
 * section below. Edit or overwrite these variables to change the color
 * scheme.
 */

@charset "UTF-8";

/* ######## GENERIC CSS ######## */

::selection {
  color: var(--aux-active-text);
  background: var(--aux-active-base);
}

.aux-disabled {
  filter: grayscale(100%) contrast(50%);
}

/* ######## WIDGETS ######## */

/* BUTTON */

.aux-button {
  background: var(--aux-widget-base);
  color: var(--aux-widget-text);
  border: 1px solid var(--aux-widget-base);
  border-radius: var(--aux-border-radius);
  transition: background var(--aux-transition-duration),
    color var(--aux-transition-duration),
    border-color var(--aux-transition-duration);
}
.aux-button:hover {
  color: var(--aux-main-text);
  border-color: var(--aux-active-base);
  cursor: pointer;
}
.aux-button:focus,
.aux-button.aux-focus {
  outline: var(--aux-outline);
  outline-offset: var(--aux-outline-offset);
  border-color: var(--aux-active-base);
}
.aux-button.aux-active {
  background: var(--aux-active-base);
  color: var(--aux-active-text);
  border-color: var(--aux-active-base);
}
.aux-button.aux-active:hover {
  border-color: var(--aux-active-text);
}
.aux-button.aux-active:focus {
  border-color: var(--aux-active-text);
}
.aux-button.aux-warn {
  background: var(--aux-warn-base);
  color: var(--aux-warn-text);
  border-color: var(--aux-warn-base);
}

/* CHART */

.aux-chart > svg {
  background: var(--aux-contrast-base);
}
.aux-chart .aux-title {
  fill: var(--aux-contrast-text);
  opacity: 0.5;
}

/* CIRCULAR */

.aux-circular .aux-base {
  fill: var(--aux-widget-base);
}
.aux-circular .aux-value {
  fill: var(--aux-active-base);
}
.aux-circular .aux-hand {
  fill: var(--aux-widget-base);
}
.aux-circular .aux-labels .aux-label {
  fill: var(--aux-main-text);
}
.aux-circular .aux-dots .aux-dot {
  fill: var(--aux-widget-base);
}
.aux-circular .aux-markers .aux-marker {
  fill: var(--aux-warn-base);
}
.aux-circular.aux-warn .aux-base {
  fill: var(--aux-warn-base);
}
.aux-circular.aux-warn .aux-value {
  fill: var(--aux-warn-base);
}
.aux-circular.aux-warn .aux-hand {
  fill: var(--aux-warn-base);
}

/* CHARTHANDLE */

.aux-charthandle {
  fill: var(--aux-contrast-text);
}
.aux-charthandle > .aux-handle {
  opacity: 0.25;
  stroke: var(--aux-contrast-text);
  stroke-opacity: 0.5;
}
.aux-charthandle > .aux-line1 {
  stroke: var(--aux-contrast-text);
  opacity: 0.5;
}
.aux-charthandle > .aux-line2 {
  stroke: var(--aux-contrast-text);
  opacity: 0.5;
}

/* DIALOG */

.aux-dialog {
  background: var(--aux-dialog-background);
  color: var(--aux-dialog-color);
  box-shadow: var(--aux-dialog-shadow);
}
.aux-dialog-modal {
  background: var(--aux-dialog-modal-background);
  color: var(--aux-dialog-modal-color);
  opacity: var(--aux-dialog-modal-opacity);
}

/* FADER */

.aux-fader .aux-handle {
  border-radius: var(--aux-border-radius);
  box-shadow: var(--aux-fader-handle-shadow);
}

.aux-fader .aux-handle:focus {
  outline: var(--aux-outline);
  outline-offset: 4px;
}

.aux-fader.aux-vertical .aux-handle {
  background: linear-gradient(
    to bottom,
    var(--aux-fader-handle1) 0%,
    var(--aux-fader-handle2) 20%,
    var(--aux-fader-handle3) 22%,
    var(--aux-fader-handle4) 48%,
    var(--aux-active-base) 49%,
    var(--aux-active-base) 51%,
    var(--aux-fader-handle5) 52%,
    var(--aux-fader-handle6) 78%,
    var(--aux-fader-handle7) 80%,
    var(--aux-fader-handle8) 100%
  );
}
.aux-fader.aux-vertical.aux-warn .aux-handle {
  background: linear-gradient(
    to bottom,
    var(--aux-fader-handle1) 0%,
    var(--aux-fader-handle2) 20%,
    var(--aux-fader-handle3) 22%,
    var(--aux-fader-handle4) 48%,
    var(--aux-warn-base) 49%,
    var(--aux-warn-base) 51%,
    var(--aux-fader-handle5) 52%,
    var(--aux-fader-handle6) 78%,
    var(--aux-fader-handle7) 80%,
    var(--aux-fader-handle8) 100%
  );
}
.aux-fader.aux-horizontal .aux-handle {
  background: linear-gradient(
    to right,
    var(--aux-fader-handle1) 0%,
    var(--aux-fader-handle2) 20%,
    var(--aux-fader-handle3) 22%,
    var(--aux-fader-handle4) 48%,
    var(--aux-active-base) 49%,
    var(--aux-active-base) 51%,
    var(--aux-fader-handle5) 52%,
    var(--aux-fader-handle6) 78%,
    var(--aux-fader-handle7) 80%,
    var(--aux-fader-handle8) 100%
  );
}
.aux-fader.aux-horizontal.aux-warn .aux-handle {
  background: linear-gradient(
    to right,
    var(--aux-fader-handle1) 0%,
    var(--aux-fader-handle2) 20%,
    var(--aux-fader-handle3) 22%,
    var(--aux-fader-handle4) 48%,
    var(--aux-warn-base) 49%,
    var(--aux-warn-base) 51%,
    var(--aux-fader-handle5) 52%,
    var(--aux-fader-handle6) 78%,
    var(--aux-fader-handle7) 80%,
    var(--aux-fader-handle8) 100%
  );
}
.aux-fader > .aux-track::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background: black;
  transform: translate(-50%, -50%);
}
.aux-fader.aux-vertical > .aux-track::before {
  width: 2px;
  height: calc(100% - var(--aux-fader-handleheight));
}
.aux-fader.aux-horizontal > .aux-track::before {
  width: calc(100% - var(--aux-fader-handleheight));
  height: 2px;
}

/* FRAME */

.aux-frame {
  margin-top: var(--aux-main-fontsize);
  border: 1px solid var(--aux-contrast-base);
  border-radius: var(--aux-border-radius);
}
.aux-frame > .aux-framelabel {
  background: var(--aux-contrast-base);
  color: var(--aux-contrast-text);
  border: 1px solid var(--aux-contrast-base);
  border-bottom-right-radius: var(--aux-border-radius);
}

/* GRAPH */

.aux-graph {
  stroke: var(--aux-active-base);
}
.aux-graph.aux-steady {
  stroke: var(--aux-contrast-text);
}
.aux-graph.aux-filled {
  fill: var(--aux-graph-fill);
}

/* GRID */

.aux-gridlabel {
  fill: var(--aux-contrast-text);
  opacity: 0.5;
}
.aux-gridline {
  stroke: var(--aux-contrast-text);
  opacity: 0.1;
}

/* KNOB */

.aux-knob::before {
  background: linear-gradient(
    to bottom,
    rgba(56, 61, 61, 1) 0%,
    rgba(18, 20, 20, 1) 100%
  );
}
.aux-knob::after {
  box-shadow: var(--aux-knob-shadow);
}
.aux-knob > svg {
  border-radius: 50%;
}
.aux-knob > svg:focus {
  outline: var(--aux-outline);
  outline-offset: 2px;
}

/* VIRTUALTREE */

.aux-virtualtree {
  background: var(--aux-widget-base);
  color: var(--aux-widget-color);
}

/* VIRTUALTREEENTRY */

.aux-virtualtreeentry.aux-odd {
  background-color: rgba(0, 0, 0, 0.05);
}
.aux-virtualtreeentry > .aux-collapse {
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  background: transparent;
  border: 1px solid var(--aux-main-text);
  border-radius: 50%;
  margin: var(--aux-main-margin);
  width: calc(var(--aux-virtualtreeentry-size) - 2 * var(--aux-main-margin));
  flex: 0 0 calc(var(--aux-virtualtreeentry-size) - 2 * var(--aux-main-margin));
  height: calc(var(--aux-virtualtreeentry-size) - 2 * var(--aux-main-margin));
}
.aux-virtualtreeentry > .aux-indent {
  font-weight: 200;
}
.aux-virtualtreeentry > .aux-icon {
  font-size: var(--aux-main-bigfontsize);
}
.aux-virtualtreeentry.aux-collapsable > .aux-label {
  font-weight: bold;
}

/* MATRIX */

.aux-matrix > .aux-indicators {
  background: var(--aux-widget-base);
}
.aux-matrix .aux-indicator {
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.aux-matrix > .aux-indicators > .aux-batch {
  border: 1px solid var(--aux-active-base);
}
.aux-matrix > .aux-indicators > .aux-batch::before {
  content: '';
  background: var(--aux-active-base);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  z-index: 0;
}
.aux-matrix > .aux-indicators > .aux-batch > .aux-batchbuttons {
  z-index: 2;
}
.aux-matrix
  > .aux-indicators
  > .aux-batch
  > .aux-batchbuttons
  > .aux-button
  > .aux-icon {
  font-size: var(--font-size-icon-large);
}
.aux-matrix
  > .aux-indicators
  > .aux-batch
  > .aux-batchbuttons
  > .aux-selectdiagonal {
  color: var(--aux-ok-base);
}
.aux-matrix
  > .aux-indicators
  > .aux-batch
  > .aux-batchbuttons
  > .aux-deselectdiagonal {
  color: var(--aux-warn-base);
}
.aux-matrix
  > .aux-indicators
  > .aux-batch
  > .aux-batchbuttons
  > .aux-deselectall {
  color: var(--aux-warn-base);
}

/* METER */

.aux-meter .aux-mask {
  opacity: 0.86;
}

/* NAVIGATION */

.aux-navigation.aux-horizontal {
  height: calc(var(--aux-clickable-size) + 2 * var(--aux-outline-offset) + 2 * var(--aux-outline-width))
}
.aux-navigation.aux-horizontal > .aux-buttons {
  padding: calc(var(--aux-outline-offset) + var(--aux-outline-width));
}
.aux-navigation.aux-horizontal > .aux-button {
  margin: calc(var(--aux-outline-offset) + var(--aux-outline-width)) 0;
}

.aux-navigation.aux-vertical > .aux-buttons {
  padding: calc(var(--aux-outline-offset) + var(--aux-outline-width));
}
.aux-navigation.aux-vertical > .aux-button {
  margin: 0 calc(var(--aux-outline-offset) + var(--aux-outline-width));
}

/* NOTIFICATIONS */

.aux-notification {
  background: var(--aux-contrast-base);
  color: var(--aux-contrast-text);
  border-radius: var(--aux-border-radius);
}

/* PANORAMA */

.aux-panorama .aux-center {
  stroke: var(--aux-warn-base);
  opacity: 1;
}

/* REVERB */

.aux-reverb > svg > .aux-graphs > .aux-input {
}
.aux-reverb > svg > .aux-graphs > .aux-reflection {
  stroke: var(--aux-contrast-text);
  opacity: 0.5;
}

/* ROOT */

.aux-root {
  background: var(--aux-main-base);
  color: var(--aux-main-text);
}

/* SCALE */

.aux-scale > .aux-dot {
  background: var(--aux-main-text);
  opacity: 0.25;
}
.aux-scale > .aux-dot.aux-marker {
  opacity: 1;
}
.aux-scale > .aux-label.aux-base {
  color: var(--aux-active-base);
}
.aux-scale > .aux-bar {
  background: var(--aux-active-base);
}
.aux-scale.aux-top > .aux-pointer {
  border-bottom-color: var(--aux-warn-base);
}
.aux-scale.aux-left > .aux-pointer {
  border-right-color: var(--aux-warn-base);
}
.aux-scale.aux-right > .aux-pointer {
  border-left-color: var(--aux-warn-base);
}
.aux-scale.aux-bottom > .aux-pointer {
  border-top-color: var(--aux-warn-base);
}

/* SCROLLER */

.aux-scroller > .aux-scrollbar::before {
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  background: var(--aux-active-base);
  border-radius: 2px;
}

/* SELECT */

.aux-selectlist {
  transition: opacity var(--aux-transition-duration);
  background: var(--aux-contrast-base);
  color: var(--aux-contrast-text);
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.25);
}
.aux-selectlist > .aux-selectentry {
  background: none;
  border: none;
  border-radius: 0;
  justify-content: flex-start;
  color: var(--aux-contrast-text);
  transition: background var(--aux-transition-duration),
    color var(--aux-transition-duration);
}
.aux-selectlist > .aux-selectentry:first-of-type {
  border-top-left-radius:var(--aux-border-radius);
  border-top-right-radius:var(--aux-border-radius);
}
.aux-selectlist > .aux-selectentry:last-of-type {
  border-bottom-left-radius: var(--aux-border-radius);
  border-bottom-right-radius: var(--aux-border-radius);
}
.aux-selectlist > .aux-selectentry:hover {
  background: var(--aux-main-base);
  color: var(--aux-main-text);
}
.aux-selectlist > .aux-selectentry.aux-active {
  background: var(--aux-active-base);
  color: var(--aux-active-text);
  border: none;
}
.aux-selectlist > .aux-selectentry:focus {
  outline: 2px solid var(--aux-active-base);
  outline-offset: -2px;
}
.aux-selectlist > .aux-selectentry.aux-active:focus {
  outline-color: var(--aux-widget-base);
}

/* SLIDER */

.aux-slider:focus {
  outline: var(--aux-outline);
  outline-offset: 4px;
}

/* SPREAD */

.aux-spread .aux-lower {
  box-shadow: var(--aux-spread-shadow);
}
.aux-spread .aux-upper {
  box-shadow: var(--aux-spread-shadow);
}

.aux-spread .aux-lower:focus {
  outline: var(--aux-outline);
  outline-offset: 4px;
}
.aux-spread .aux-upper:focus {
  outline: var(--aux-outline);
  outline-offset: 4px;
}

.aux-spread.aux-vertical .aux-lower {
  border-bottom-right-radius: var(--aux-border-radius);
  border-bottom-left-radius: var(--aux-border-radius);
  z-index: 2;
  background: linear-gradient(
    to bottom,
    var(--aux-active-base) 0%,
    var(--aux-active-base) 3%,
    var(--aux-spread-handle5) 4%,
    var(--aux-spread-handle6) 58%,
    var(--aux-spread-handle7) 60%,
    var(--aux-spread-handle8) 100%
  );
}
.aux-spread.aux-vertical .aux-upper {
  border-top-right-radius: var(--aux-border-radius);
  border-top-left-radius: var(--aux-border-radius);
  z-index: 1;
  background: linear-gradient(
    to bottom,
    var(--aux-spread-handle1) 0%,
    var(--aux-spread-handle2) 40%,
    var(--aux-spread-handle3) 42%,
    var(--aux-spread-handle4) 96%,
    var(--aux-warn-base) 97%,
    var(--aux-warn-base) 100%
  );
}
.aux-spread.aux-horizontal .aux-lower {
  border-top-left-radius: var(--aux-border-radius);
  border-bottom-left-radius: var(--aux-border-radius);
  background: linear-gradient(
    to right,
    var(--aux-spread-handle1) 0%,
    var(--aux-spread-handle2) 40%,
    var(--aux-spread-handle3) 42%,
    var(--aux-spread-handle4) 96%,
    var(--aux-active-base) 97%,
    var(--aux-active-base) 100%
  );
}
.aux-spread.aux-horizontal .aux-upper {
  border-top-right-radius: var(--aux-border-radius);
  border-bottom-right-radius: var(--aux-border-radius);
  background: linear-gradient(
    to right,
    var(--aux-warn-base) 0%,
    var(--aux-warn-base) 3%,
    var(--aux-spread-handle5) 4%,
    var(--aux-spread-handle6) 58%,
    var(--aux-spread-handle7) 60%,
    var(--aux-spread-handle8) 100%
  );
}
.aux-spread > .aux-track::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background: black;
  transform: translate(-50%, -50%);
}
.aux-spread.aux-vertical > .aux-track::before {
  width: 2px;
  height: calc(100% - var(--aux-spread-handleheight));
}
.aux-spread.aux-horizontal > .aux-track::before {
  width: calc(100% - var(--aux-spread-handleheight));
  height: 2px;
}

/* STATE */

.aux-state {
  background: var(--aux-warn-base);
}

/* VALUE */

.aux-value > .aux-input {
  background: var(--aux-widget-base);
  color: var(--aux-widget-text);
  border-radius: var(--aux-border-radius);
}
.aux-value.aux-active > .aux-input {
  background: var(--aux-contrast-base);
  color: var(--aux-contrast-text);
}

/* VALUEBUTTON */

.aux-valuebutton {
  border-width: 0px;
}
.aux-valuebutton > .aux-value > .aux-input {
  background: var(--aux-active-base);
  color: var(--aux-active-text);
}
.aux-valuebutton > .aux-value.aux-active > .aux-input {
  background: var(--aux-contrast-base);
  color: var(--aux-contrast-text);
}
.aux-valuebutton > .aux-bar {
  background: var(--aux-active-base);
}
.aux-valuebutton.aux-warn {
  background: var(--aux-widget-base);
  color: var(--aux-widget-color);
}
.aux-valuebutton.aux-warn .aux-bar,
.aux-valuebutton.aux-warn .aux-value {
  background: var(--aux-warn-base) !important;
}
