/*
 * This file is part of AUX.
 *
 * AUX is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or (at your option) any later version.
 *
 * AUX is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * General Public License for more details.
 *
 * You should have received a copy of the GNU General
 * Public License along with this program; if not, write to the
 * Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
 * Boston, MA  02110-1301  USA
 */

/*
 * This is the default AUX style. Use it to get your development started,
 * concentrating on the design later. If you like the overall appearance
 * and just feel like changing colors, take a look at the variables
 * section below. Edit or overwrite these variables to change the color
 * scheme.
 */

@charset "UTF-8";

@import './style_definitions.css';

:root {
  --aux-main-base: #e0e0e0;
  --aux-main-text: #212424;

  --aux-widget-base: #ffffff;
  --aux-widget-text: var(--aux-main-text);

  --aux-active-base: #2577a1;
  --aux-active-text: #ffffff;

  --aux-graph-fill: rgba(37, 119, 161, 0.33);

  --aux-fader-handle1: #5d6666;
  --aux-fader-handle2: #363a3a;
  --aux-fader-handle3: #1e2121;
  --aux-fader-handle4: #353a3a;
  --aux-fader-handle5: #353a3a;
  --aux-fader-handle6: #353a3a;
  --aux-fader-handle7: #212424;
  --aux-fader-handle8: #191c1c;

  --aux-spread-handle1: #5d6666;
  --aux-spread-handle2: #363a3a;
  --aux-spread-handle3: #1e2121;
  --aux-spread-handle4: #353a3a;
  --aux-spread-handle5: #353a3a;
  --aux-spread-handle6: #353a3a;
  --aux-spread-handle7: #212424;
  --aux-spread-handle8: #191c1c;
  
  --aux-warn-base: #ee6b11;
  --aux-warn-text: #ffffff;

  --aux-ok-base: #00d793;
  --aux-ok-text: #ffffff;

  --aux-contrast-base: var(--aux-main-text);
  --aux-contrast-text: #ffffff;

  --aux-transition-duration: 0.33s;

  --aux-border-radius: 4px;

  --aux-outline: 2px solid var(--aux-active-base);
}
